

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python testing & coverage
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/

# Model checkpoints
*.pth
*.pt
*.ckpt
*.pkl
*.pickle

.vscode/